.body-section{
    display: flex;
    margin: 30px 56px;
    width: fit-content;
    .s-conteiner{
        display: flex;
        justify-content: space-between;
        width: fit-content;
        gap: 10px;
        .s-left{
            display: flex;
            flex: 3;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 15px;
        }

    }
}